<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard de Superhéroes</title>
    <link rel="stylesheet" href="/styles.css" />
    <!-- Asegúrate de que el CSS esté en 'public/styles.css' -->
  </head>
  <body>
    <header>
      <h1>Dashboard de Superhéroes</h1>
    </header>

    <main>
      <h2>Lista de Superhéroes</h2>
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Nombre Real</th>
            <th>Edad</th>
            <th>Planeta Origen</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% superheroes.forEach(function(superheroe) { %>
          <tr>
            <td><%= superheroe.nombreSuperHeroe %></td>
            <td><%= superheroe.nombreReal %></td>
            <td><%= superheroe.edad %></td>
            <td><%= superheroe.planetaOrigen %></td>
            <td>
              <!-- Botón de editar -->
              <a
                href="/heroes/<%= superheroe._id %>/editar"
                style="text-decoration: none; color: blue"
                >Editar</a
              >
              <!-- Botón de eliminar -->
              <form
                action="/heroes/<%= superheroe._id %>"
                method="POST"
                style="display: inline"
              >
                <input type="hidden" name="_method" value="DELETE" />
                <!-- Método DELETE -->
                <button
                  type="submit"
                  style="
                    background-color: red;
                    color: white;
                    border: none;
                    padding: 5px 10px;
                    cursor: pointer;
                  "
                >
                  Eliminar
                </button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </main>
  </body>
</html>
